@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: #f8f9fa; /* Light gray background */
  --color-foreground: #212529; /* Dark text for contrast #212529;*/

  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Poppins', sans-serif;

  /* Primary Colors (Deep Blue for Professional Look) */
  --color-primary: #003366;
  --color-primary-foreground: #ffffff;

  /* Secondary Colors (Soft Complementary Color) */
  --color-secondary: #e63946;
  --color-secondary-foreground: #ffffff;

  /* Accent (Gold for Prestige) */
  --color-accent: #003366;
  /* #ffcc00 */
  --color-accent-foreground: #f1f3f5;
  /* #212529 */

  /* Sidebar & UI Elements */
  --color-sidebar: #1c1f26;
  --color-sidebar-foreground: #ffffff;
  --color-sidebar-accent: #0066cc;
  --color-sidebar-accent-foreground: #ffffff;
  --color-sidebar-border: #2a2d34;

  /* Sliders */
  --color-slider: #00bb90;
  --color-slider-foreground: #ffffff;

  /* Card & Popover */
  --color-card: #ffffff;
  --color-card-foreground: #212529;
  --color-popover: #f1f3f5;
  --color-popover-foreground: #212529;

  /* Inputs & Borders */
  --color-input: #ffffff;
  --color-border: #ced4da;
  --color-ring: #007bff;

  /* Misc */
  --color-muted: #6c757d;
  --color-muted-foreground: #f8f9fa;
  --color-destructive: #dc3545;

  /* Radius */
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 10px;
  --radius-xl: 12px;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans), sans-serif;
  }
  h1,
  h2,
  .important-text {
    font-family: var(--font-mono), sans-serif;
    font-weight: 600;
  }
}
